body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(60deg, red, blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: 0.5px solid gray;
  border-radius: 0.25em;
  height: 25px;

}

.loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
  background-color: rgba(6, 131, 168, 0.336);
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(60deg, blue, red);
  padding: 25px 25px 25px 25px;
  justify-content: center;
  transform: translate(-50%, -50%);
}

svg {
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);

  animation: rotate 2s linear infinite;
  z-index: 1;
}

svg circle {
  fill: none;
  transform: translate(5px, 5px);
  stroke-width: 10;
  stroke: url(#grad1);
  stroke-linecap: round;
  stroke-dashoffset: 440;
  stroke-dasharray: 440;
  animation: animate 4s linear infinite;
}

#stop1 {
  stop-color: #dce366;
  stop-opacity: 1;
}

#stop2 {
  stop-color: #720D39;
  stop-opacity: 1;
}


@keyframes animate {

  0%,
  100% {
    stroke-dashoffset: 440;
  }

  50% {
    stroke-dashoffset: 0;
  }

  50.1% {
    stroke-dashoffset: 880;
  }

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}